.game{
    width: 100%;
    height: 100%;
    height:100vh;
}

.mainScreen{
    width: 720px;
    height: 480px;
    margin: 5% 20% 5% 20%;
    border: 10px solid rgb(144, 32, 250);
    /* background: #3560eb; */
}

.information{
    font-size: 20px;
    margin-left: 20%;
    margin-top: 5px;
}